@use '../../style/colors';

.profile {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__header {
        color: colors.$light;
    }

    &__title {
        margin-block: 1.25rem;
        font-size: 2rem;
        font-weight: 700;
    }

    &__btn--edit {
        padding: 0.625rem;
    }

    &__accounts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}

.edit-profile {
    margin-block-start: 1.25rem;

    .input-wrapper {
        margin-block: 0.91rem;

        label {
            margin-inline-end: 1rem;
            color: colors.$light;
            font-weight: 700;
        }
    }

    .form__btn--submit {
        margin-block-start: 1.125rem;
        padding-inline: 1.5rem;
    }
}
